@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom animations */
.animate-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.animate-card.show {
  opacity: 1;
  transform: translateY(0);
}
/* slow spin ring */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}